@charset "utf-8";/* 白紙のCSSにはまず文字コードを１行目に書く。 */

*,
::before,
::after {

  /* すべての要素を表す「*」（全称セレクタ）と、擬似要素である「::before」、「::after」に対してスタイルを指定する。*/

  /* 余白を解除する */
  padding: 0;
  margin: 0;

  /* 「box-sizing」というプロパティで要素の幅と高さの計算方法を「width／heightで指定した値のみ」に指定する。 */
  box-sizing: border-box; /* デフォルトでは「content-box」になっており、これでは「width／heightの値」＋「paddingの値」＋「border（他の要素との境界）の太さ」を足したサイズが算出される。
  * 
  しかし、レスポンシブデザインでは幅や高さを「％」（親要素の文字サイズを基準としてサイズを指定）のような可変の単位で指定すると、要素全体のサイズの計算が複雑になる。
  そのため、要素の大きさを「width／heightで指定した値のみ」（border-box）に変更する。paddingやborderの太さをサイズの計算に含めないようにすることで、シンプルに計算することができる。 */
}

/* リストの行頭アイコンを非表示にする。 */
/* ただし、Chrome バージョン129.0.6668.100（Official Build）（arm64）では、「ul要素」の行頭に付く「・」アイコンがデフォルトで非表示になっている。書籍の刊行後にChromeがアップデートされたのかもしれない。いちおう、まだこのスタイルを追加する段階では、HTMLに「ol要素」はないため、念のため追加しておく。 */
ul,
ol {
  list-style: none;
}

/* リンクの文字列にデフォルトで付いている青い下線と青い文字色をリセットする。 */
a {
  color: inherit;   /* 「inherit」は、親要素のスタイルを継承することを意味する。 */
  text-decoration: none;  /* 下線の装飾を解除する。 */
}

/* ページ全体のスタイル */
body {
  font-family: sans-serif;      /* ページ全体のフォントにサンセリフ体を指定。*/
  font-size: 16px;              /* フォントの文字サイズを指定。 */
  color: #000000;             /* テキストの色を黒に指定。 */
  line-height: 1;               /* 行間を指定。 */
  background-color: #ffffff;  /* 背景色を白に指定。 */
}

/* img要素のスタイル */
img {
  max-width: 100%;              /* 最大幅を親要素の範囲内に収まるように設定。 */
}