@charset "utf-8";/* 白紙のCSSにはまず文字コードを１行目に書く。 */

.first-view {
  height: calc(100vh - 110px);    /* ヘッダーエリアの高さの分、ファーストビューエリアの高さが100vhだと、ファーストビューエリアの下辺がブラウザの下辺より下になるため、ヘッダーの高さの110pxを引いた高さにheightを指定する。 */

  background-image: url(../images/index/bg-main.jpg);             /* 背景画像を設定する。 */

  background-repeat: no-repeat;     /* 背景画像の繰り返しを無効にする。 */

  background-position: center center;           /* 背景画像がデフォルトで左上を基準にして挿入されているため、background-positionプロパティを使用して、上下ともに画像の中央部分を配置するように指定する。 */

  background-size: cover;       /* 画像のサイズがブラウザのサイズを超えているため、ブラウザのサイズに合わせて下辺になるように指定する。 */

  align-items: center;        /* ファーストビューの上下の位置を天地中央に配置する。 */
}

/* 見出しとキャッチコピーエリアのスタイルを指定する。 */
.first-view-text {
  width: 100%;              /* 親要素の幅いっぱいに要素の幅を指定する。 */

  max-width: 1200px;        /* ヘッダーエリアと同じ最大幅を指定する。 */

  margin-left: auto;
  margin-right: auto;

  padding-left: 40px;       /* 少し右に移動 */
  padding-bottom: 80px;     /* 少し上に移動 */
  color: #ffffff;         /* テキストの色を白に指定。 */
  font-weight: bold;        /* テキストを太字にする。 */

  text-shadow: 1px 1px 10px #4b2c14;    /* テキストに影を付ける。（値は、左右、上下、ぼかし、色の順に指定する） */
}

.first-view-text h1 { /* 見出しのスタイルを指定する。 */
  font-family: 'Montserrat', sans-serif;
  font-size: 56px;
  line-height: 72px;
}

.first-view-text p {  /* キャッチコピーのスタイルを指定する。 */
  font-size: 18px;
  margin-top: 20px;
}

/* 導入文のスタイルを指定する。 */
.lead {
  max-width: 1200px;    /* ヘッダーと同じ1200px。 */
  margin: 60px auto;    /* 上下のマージンを60px、左右をautoにする。 */
}

.lead p {               /* 導入文のp要素（段落）のスタイルを指定する。 */
  line-height: 2;       /* 行間 */
  text-align: center;   /* 中央寄せ */
}

/* リンクボタンのスタイルを指定する。 */
.link-button-area {
  text-align: center;
  margin-top: 40px;
}

.link-button {
  background-color: #f4dd64;

  display: inline-block;      /* a要素はデフォルトでインライン要素となっておりwidthによる幅指定ができないので、
  displayプロパティを使って「inline-block」に変更。 */
  min-width: 180px;            /* ボタンの幅 */
  line-height: 48px;           /* ボタンの高さ */
  border-radius: 24px;        /* リンクボタンの角を丸くする。 */
  font-family: 'Montserrat', 'sans-serif';
  font-size: 14px;
}